*

!.github
!.github/*
!.eslintrc
!CHANGELOG.MD
!gulpfile.js
!LICENSE
!MasterGeeseLivingWorldTools.code-workspace
!module.json
!package.json
!README.MD
!tsconfig.json
!docker-compose.yml
!playwright.config.ts
!types
!types/**/*
!tests
!tests/**/*
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
