# Create a local copy of this file and name it ".env", filling out each of the environment variables below based on your local development environment. DO NOT COMMIT THIS FILE, as it will contain sensitive data.

# FoundryVTT login credentials
FOUNDRY_LOGIN=<Your FoundryVTT username>
FOUNDRY_PASS=<Your FoundryVTT password>
FOUNDRY_ADMIN=<An admin password for the Foundry World you wil create. I usually default this to "atropos".>

FOUNDRY_LOCATION=<Filepath to the folder containing FoundryVTT. Should be formatted "C:\\File\\Path\\To\\FoundryVTT">
FOUNDRY_MAIN=<Filepath to FoundryVTT's main.js file, formatted as above. Will usually be your FOUNDRY_LOCATION filepath, plus "\\resources\\app\\main.js".>
LOCAL_DATA=<Filepath to your foundrydata folder, usually in the folder indicated by FOUNDRY_LOCATION.>
LOCAL_DEV_DIR=<Filepath to your modules folder. Almost always equal to your LOCAL_DATA path plus "\\Data\\modules".>

# Testing
GM_DISCORD_ID = <Discord ID of the user linked to the "Gamemaster" user while testing.>
PLAYER_DISCORD_ID = <Discord ID of the user linked to the "Player" user while testing.>
DISCORD_WEBHOOK = <URL of the Discord webhook to use while testing.>